body {
    background-color:lightcyan; width:700px; margin: 0 auto;
}

h2 {
    background-color:mediumaquamarine; text-align:center;
}

h3 {
    text-align:center;
}

p.date {
    text-align:right;
}

table {
    text-align:center;
}

table.pos {
    margin-left:auto; margin-right:auto;
    margin-top: 20px;
}

th {
    background-color:mediumaquamarine;
}

th.ti {
    font-size:0.8em; background-color:mediumaquamarine;
}

td {
    background-color:lightyellow; color:black;
}

td.mon {
    text-align:right;
}

td.money {
    text-align:right;
}

td.sum {
    background-color:pink; text-align:right; font-weight:bold;
}

.sum1 {
    background-color:pink; text-align:center; border-bottom:0px;
}
/*
div.gr0 {
    float:left; margin-right:0px; padding-right:0px;
}

div.gr1 {
    float:right; position:absplute; left:200px;
}

div.gr2 {
    clear:both; margin-top:10px;
}
*/
div.contents {
	position: relative;
	overflow: auto;
	width: 700px;
	height: 750px;
	margin-left: 30px;
}

div.menu {
    float:left; width:150px; margin-right: auto;
}

div.menu a {
    display:block; text-decoration:none; color:blue; font-weight:bold; 
    background-color:mediumaquamarine; margin-top:5px; padding:5px; text-align:center;
}

div.up {
    margin-left:auto; margin-right:auto; width:400px; height:500px;
}

div.in {
    text-align:center; margin-left:auto; margin-right:auto; width:400px;
}

div.in > form {
	margin-left:15px; padding-left: 45px;
}

div.off {
    margin-top:10px; padding:5px;
}

div.image {
    float:right;
}

div.gr3 {
    float:left;
}

a img {
    border-style:none;
}
@CHARSET "UTF-8";